.button {
    border-radius: 7px;
    border: 1px solid $base-white;
    padding-inline-start: 25px;
    padding-inline-end: 25px;
    width: fit-content;
    height: 40px;
    color: $base-white;
    text-decoration: none;
    font-weight: 400;
    font-size: $sm-text-mobile-font;
    line-height: $sm-text-mobile-line;
    display: grid;
    justify-content: center;
    align-items: center;
}

.button--uppercase {
    text-transform: uppercase;
}

.button--bold {
    font-weight: bold;
}

.button--big {
    min-height: 60px;
    min-width: 120px;
}