.quote {
  display: grid;
  background-color: $base-black;
  background-image: url('../img/main-promo-house.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  width: 100%;
  min-height: calc(100vh - 75px);
  height: 100%;

  @media (min-width: $width-tablet-album) {
      min-height: calc(100vh - 80px);
  }
}

.quote__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  text-align: center;
  padding-block-start: 10px;
  padding-block-end: 10px;
  padding-inline-start: $padding-mobile;
  padding-inline-end: $padding-mobile;
  margin-block-start: $break-small;
  margin-block-end: $break;

  @media (min-width: $width-mobile-album) {
      margin-block-start: $break-x-small;
      margin-block-end: $break-x-small;
    }
}